
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSN Login</title>
    <link rel="stylesheet" href="{% static '/SALSA.css' %}">
</head>
<body>
    <div class="form-container">
        <h1 class="title">CSN Exam Registration</h1>
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label>Username:</label>
            <input type="text" name="login_username" placeholder="Enter your username" required>

            <label>Password:</label>
            <input type="password" name="login_password" placeholder="Enter your password" required>

            <div class="checkbox-row">
                <input type="checkbox" id="remember">
                <label for="remember">Remember</label>
            </div>

            <button type="submit">Login</button>
        </form>

        <a class="link" href="http://127.0.0.1:8000/create">Don't Have an Account? Create an Account Here</a>
        <p class="error">{{ message }}</p>
    </div>
</body>
</html>
